.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainSon{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .sectionOne {
    flex-direction: row;
    padding-bottom: 2vh;
    padding-top: 2vh;
  }

  .sectionOneImageDiv {
    width: 80%;
    margin-bottom: 3vh;
  }

  .sectionOneImage {
    width: 13vh !important ;
    border-radius: 10px;
  }

  .sectionOneText {
    width: 80%;
    font-size: 2.8vw !important; 
    margin-left: 2vw;/* Ensure font-size is applied */
  }
  .sectionTwoItem {
    display: flex;
    flex-direction: row;
    margin-top: 4vh !important
  }
  .sectionTwoFirstContainer{
    font-size: 2vh !important;
  }
  .sectonTwobadge {
    margin-left: 1vh !important;
    margin-top: 1vh !important;
  }
  .sectionTwoLittleContainer {
    margin-left: 4vh !important;
    margin-right: 3vh !important;
  }
}
.sectionOne {
  display: flex;
  width: 100%;
  padding-bottom: 7vh;
  padding-top: 7vh;
  background-color: #000;
  align-items: center;
  justify-content: center;
  height: auto;
}
.sectionOneImage {
  border-radius: 20px;
  width: 16vw;
  height: auto;
}
.sectionOneImageDiv {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionOneText {
  width: 65%;
  font-size: 2vw;
  font-family: Georgia;
  color: #fff;
}
.sectionTwo {
  width: 100%;
  height: auto;
  background: linear-gradient(45deg, #fff, #ffcece);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionTwoTitle {
  font-family: Georgia, serif;
  font-size: 4vw;
  margin-top: 7vh;
}
.sectionTwoFirstContainer {
  flex-direction: row;
  width: 100%;
  display: flex;
  font-size: 2vw;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sectionTwoItem {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.sectionTwoItem2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5vw;
}
.seciontTwoLittleTitle {
  font-weight: 500;
  font-family: Georgia, serif;
}
.outer-container {
  width: 21vw;
  font-family: Georgia, serif;
  text-align: center;
  margin-top: 10px;
  margin-left: 4vw;
}

.bold-text {
  font-weight: bold;
}

.sectionTwoLittleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
}

.sectionTwoinner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sectionTwotitle {
  font-weight: 500;
  font-family: Georgia, serif;
}

.sectonTwobadge {
  width: 3.5vw;
  height: auto;
  border-width: 1px;
  border-radius: 20px;
  border-color: black;
  border-style: solid;
  text-align: center;
  font-size: 2vw;
  margin-left: 20px;
}
.sarBolgon {
  width: 29vw;
  font-family: Georgia, serif;
  text-align: center;
  margin-top: 10px;
}
.sarBolgon p.bold-text {
  font-weight: bold;
}
.tsogtsBaidalCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tsogtsBaidalInnerCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tsogtsBaidalInnerConth2 {
  font-weight: 500;
  font-family: Georgia, serif;
}

.mentorShip {
  width: 30vw;
  font-family: Georgia, serif;
  text-align: center;
  margin-top: 10px;
}
.mentorShipText {
  font-size: 2.1vw;
}
.shalgaltinTovHuvaahCont {
  display: flex;
  flex-direction: row;
  margin-top: 7vh;
  padding-bottom: 7vh;
}
.shalgaltinTovInnerCont {
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
}
.shalgaltinTovInnerInnerCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shalgaltinTovTitle {
  font-weight: 500;
  font-family: Georgia, serif;
  text-align: center;
}

.dassanGazraa{
  text-align: center;
  margin-top: 10px;
}
.TOEFL {
  font-weight: bold;
}
.pocketCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6vw;
}
.pocketContRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.huvaajTuluh {
  font-weight: 500;
  font-family: Georgia, serif;
  right: 10%;
  text-align: center;
}

.huvaajTuluhTextAlign {
  text-align: center;
  margin-top: 10px;
}
.uusgenBaigulagchCont {
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 10vh;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}
.uusgenBaigulagchInnerCont {
  font-size: 3vw;
  font-family: Georgia, serif;
  text-align: center;
  margin-bottom: 20px;
  max-width: 600px;
}
.hrUusgen {
  margin-top: 12px;
}
.uusgenBaigulagchRow {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.uusgenBaigulagchCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.uusgenBaigulagchCol2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
}
.uusgenBaigulagchColImage {
  width: 30vw;
  border-radius: 20px;
}
.uusgenBaigulagchColParagraph {
  font-size: 1.5vw;
  width: 35vw;
  text-align: center;
  height: 30vh;
  height: 17vh;
  margin-top: 40px;
  font-family: "Times new roman", Times, serif;
}
.sectionThreeCont {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-top: 17vh;
}
.sectionThreeInnerCont {
  width: 21vw;
  height: 70vh;
  background-color: #000;
  border-radius: 2vw;
  margin-left: 3vw;
}
.sectionThreeInnerCont1 {
  width: 21vw;
  height: 70vh;
  background-color: #000;
  border-radius: 2vw;
}
.sectionThreeInnerContText {
  color: #fff;
  padding: 2vw;
  text-align: center;
  font-size: 1.5vw;
}
.sectionFourCont {
  display: flex;
  width: 100%;
  height: 400px;
  flex-direction: row;
  padding-bottom: 2vw;
  margin-top: 2vw;
}
.sectionFourContText {
  text-align: center;
  width: 80%;
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
}
.sectionFourContParagraph {
  font-weight: 500;
  font-family: Georgia, serif;
  margin-top: 10%;
  font-size: 2.5vw;
}
.sectionFourContImage {
  margin-left: 3vw;
  width: 23vw;
  height: 50vh;
  margin-right: 3vw;
}