.textContent {
  font-family: Georgia;
  width: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 8vw;
  font-size: 23px;
}
.carouselArrow {
  right: 0%;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
.carouselArrow2 {
  left: 0%;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
.firstCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 7vh;
}
.carousel1 {
  padding: 20px;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 6vw;
}
.secondContain {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.carousel2 {
  padding: 20px;
  width: 40vw;
  padding-right: 5vw;
}
.textContent2 {
  font-family: Georgia;
  width: 40%;
  font-size: 23px;
  margin-right: 20vh;
}
.thirdContain {
    display: flex;
    flex-direction: row;
    padding-bottom: 10vh;
    align-items: center;
}
.thirdImage {
    width: 500px;
    height: 400px;
    border-radius: 20px;
    margin-left: 10vw;
}
.textContent3 {
    padding-left: 70px;
    font-family: Georgia;
    font-size: 23px;
    width: 40%;
}
@media only screen and (max-width: 600px) {
  .firstCont {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 90vw;
  }
  .textContent {
    font-size: 2vh;
    width: 70vw;
    text-align: center;
    margin: 0;
    margin-bottom: 2vh;
  }
  .carousel1 {
    width: 80vw;
  }
  .firstCont {
    padding-top: 2vh !important;
  }
  .secondContain {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 90vw
  }
  .carousel2 {
    width: 65vw;
  }
  .textContent2 {
    font-size: 2vh !important;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 80vw;
    margin-bottom: 2vh;
  }
  .thirdContain {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; 
    margin: 0;
    margin-top: 5vh;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 90vw;
    margin-bottom: 3vh;
  }
  .thirdImage {
    width: 70vw;
    height: auto;
    margin: 0;
    margin-top: 2vh;
  }
  .textContent3 {
    font-size: 2vh;
    width: 80vw;
    text-align: center;
    margin-top: 3vh;
    padding-bottom: 3vh;
    padding-left :0;
  }
}
