.footer-container {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.school-info,
h3 {
  color: #FE01FE; /* Set a gold color for the heading */
}

.contact-info span {
  text-decoration: underline;
}

.social-media p {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons > * {
  margin: 0 10px; /* Adjust spacing between social icons */
}

.copyright,
.additional-links,
.designer-info {
  margin-top: 20px;
}

.additional-links a {
  color: #FE01FE;
  text-decoration: none;
  font-weight: bold;
}

.additional-links a:hover {
  text-decoration: underline;
}

.pagesText {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

.active {
  font-weight: bold;
  color: blueviolet; /* Adjust the active link color as needed */
}

@media screen and (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    margin-top: 20px; /* Adjust spacing for social icons in mobile view */
  }
}
